{
  "extends": ["airbnb"],
  "plugins": ["jest"],
  "rules": {
    "semi": 0,
    "import/no-extraneous-dependencies": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "jest/globals": true
  },
  "parser": "babel-eslint"
}
